.btn {
    display: block;
    padding: 10px;
    font-size: 20px;
    margin: 300px auto 20px;
    background-color: rgb(39, 3, 185);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn:hover {
    box-shadow: none;
}

#result {
    display: block;
    width: 300px;
    margin: 0 auto;
    font-size: 18px;
}